/* Global */

/* my site view 1920*1080 */

:root {
  /* App Colors */
  --color-primary: var(--color-light-blue);
  --color-accent: var(--color-gold-yellow);
  --color-text: var(--color-gray-black);

  /* Color */
  --color-light-white: #eeeeee;
  --color-blue-white: #f2f3f7; /*백그라운드색상*/
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d; /*텍스트 색상*/
  --color-light-grey: #7c7979;
  --color-light-blue: #a7aeca; /*메인색상*/
  --color-gray-black: #333333;
  --color-gold-yellow: #6a77ff; /*강조색상*/

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-semi-thin: 300;
  --weight-thin: 500;

  /* Size */
  --size-border-radius: 5px;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
      font-family: 'Noto Sans JP', sans-serif;
      margin: 0;
      /* background: linear-gradient(#f2f3f7, #7c7979); */
      background-color: #F2F3F7;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,960,472)'%3E%3Cstop offset='0' stop-color='%23F2F3F7'/%3E%3Cstop offset='1' stop-color='%23F2F3F7'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.01'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
      /* background-color: var(--color-blue-white); */
        /* 배경색을 여기에 원하는 색상 코드로 변경합니다. */
        /* 예: #ff0000은 빨간색을 나타냅니다. */
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

	
/* #MainImage {
  width: 1980px;
  height: 1080px;
  object-fit: cover;
} */

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Common */
.section {
  padding: 50px 4px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--color-gray-black);
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* Header */
.header {
  background-color: none;
  position: fixed;
  opacity: 0;
  transition: opacity 1.2s ease-out;
  top: 0;
  width: 100%;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1.4px 8px var(--color-dark-grey); 
  /* 그림자 추가 */
  z-index: 1;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 72px;
  height: 72px;
}

.header__logo__title {
  font-size: 1.3rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 22px;
}

.header:hover {
  opacity: 1;
}

.header__menu__item:hover {
  border-bottom: 1.8px solid var(--color-dark-grey);
}

/* HOME */
#home {
  /* background: linear-gradient(#7c7979, #f2f3f7); */
  color: var(--color-text);
  /* padding: 0rem 1rem; */
  /* padding-top: 88px; */
  text-align: center;
  position: relative;
}

.home__photo {
  /* 1960px */
  width: 1220px;
  height: 920px;
  padding-top: 4rem;
  object-fit: cover;
  /* filter: blur(5px); */
  opacity: 0.6;  
  /* 초기 투명도 설정 */
  transition: opacity 6s ease-out; 
  /* 트랜지션 효과 설정 */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey); 
}

.home__photo:hover {
    /* 예진이 의견임 아무튼 그럼
    filter: blur(0);
    transition: filter opacity 6s ease-out; */
    opacity: 1;
}

.home__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-thin);
  /* text-align: left; */
  padding: 0 0 0.5rem 1.5rem;
  color: var(--color-gray-black);
  text-shadow: 
  -8px -8px 12px rgba(255,255,255,0.4),
  8px 8px 12px rgba(0,0,0,0.08);
  caret-color:#262626;
  white-space: pre-wrap;
  outline: none;
  /* position: relative;
  top: 50%;
  position: absolute; */
}

.home__description {
  font-size: var(--font-medium);
  font-weight: var(--weight-thin);
  white-space: pre-wrap;
  /* text-align: left; */
  padding: 0 0 0 1.5rem;
}

.home__contact {
  display: inline-block;
  border-radius: 4px;
  box-shadow:  
  9px 9px 29px #cfd2d7,
  -9px -9px 29px #fdffff;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--color-dark-grey);
  outline: 2px solid var(--color-gold-yellow);
}

.home__hover {
  
  color: var(--color-primary);
}

/* KAWAGUCHI */
#kawaguchi {
  /* background: linear-gradient(#f2f3f7, #7c7979); */
  padding: 50px 0px;
}
.kawa__item {
  display: flex;
  justify-content: center;
  /* 이미지와 텍스트를 세로로 배치 */
  align-items: center;
  text-align: center;
  /* 텍스트 정렬 */
  margin: 5rem;
  /* margin-bottom: 20px; */
}

.kawa__item__1 {
  display: flex;
  justify-content: center;
  /* margin-bottom: 68px; */
  margin: 5rem;
}

.kawa__end__line {
  display: flex;
  justify-content: center;
  margin: 10rem 0 5rem 0;
}

.kawa__title {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--color-gray-black);
}

.kawa__photo {
  width: 500px;
  height: 500px;
  padding: none;
  object-fit: cover;
  align-items: baseline;
  /* margin-right: 10px; */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey); 
}

.kawa__photo__main {
  width: 1660px;
  height: 700px;
  margin-bottom: 3rem;
  object-fit: cover;
  opacity: 1;
  transition: opacity 6s ease-out;
  box-shadow: 0px 1.4px 10px var(--color-dark-grey);
}

.kawa__photo__main:hover {
  opacity: 0.6;  
  /* 초기 투명도 설정 */
  transition: opacity 6s ease-out; 
}

.kawa__photo__main__2 {
  width: 1660px;
  height: 700px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  object-fit: cover;
  /* filter: blur(5px); */
  opacity: 0.6;  
  /* 초기 투명도 설정 */
  transition: opacity 6s ease-out; 
  /* 트랜지션 효과 설정 */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey);
}

.kawa__photo__main__2:hover {
  opacity: 1;
}

.kawa__photo__1 {
  width: 400px;
  height: 400px;
  padding: 0rem 2.5rem 0rem 2.5rem;
  object-fit: cover;
  align-items: baseline;
  /* margin-right: 10px; */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey); 
}

.kawa__photo__2 {
  width: 560px;
  height: 400px;
  padding: none;
  object-fit: cover;
  align-items: baseline;
  /* margin-right: 10px; */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey);
}

.kawa__photo__end {
  height: 5rem;
  width: 100%;
  padding: none;
  object-fit: cover;
  box-shadow: 0px 1.4px 10px var(--color-dark-grey);
}

/* background: rgba(255, 255, 255, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(255, 255, 255, 0.3); */


/* .kawa__photo__1__text {
  float: left;
} */

/* SHINKOIWA */
.iwa__item__1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  height: 100%;
}

.iwa__photo {
  width: 500px;
  height: 564px;
  padding: 4rem 0px 0px 0px;
  object-fit: fill;
  align-items: baseline;
  /* margin-right: 10px; */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey);
}

.iwa__separator {
  width: 1px;
  min-height: 400px;
  background-color: var(--color-dark-grey);
  margin: 0px 30px 0px 70px;
  opacity: 0.4;
}

.iwa__separator__2 {
  width: 1px;
  min-height: 400px;
  background-color: var(--color-dark-grey);
  margin: 0px 70px 0px 30px;
  opacity: 0.4;
}


/* KINSHICHO */
#kinshicho {
  padding: 50px 0;
}
.kin__item {
  display: flex;
  justify-content: center;
  margin: 0 80px;
  padding: 50px 0;
}

.kin__photo__main {
  width: 1660px;
  height: 700px;
  margin-top: 3rem;
  object-fit: cover;
  /* filter: blur(5px); */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey);
}

.kin__photo {
  width: 415px;
  height: 500px;
  object-fit: cover;
  align-items: baseline;
  /* margin-right: 10px; */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey); 
}

.kin__photo__2 {
  width: 830px;
  height: 500px;
  object-fit: cover;
  align-items: baseline;
  /* margin-right: 10px; */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey); 
}

/* ALBUM */
#album {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}

.category {
  position: relative;
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  white-space: nowrap;
}

.category--selected {
  background-color: var(--color-accent);
  color: var(--color-blue-white);
}

.category__count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: var(--color-blue-white);
  color: var(--color-text);
  transition: all 250ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
  opacity: 1;
  top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project__img {
  width: 100%;
}

.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue-white);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__title:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 75px;
  height: 2px;
  background-color: var(--color-accent);
}

/* Arrow UP */
.arrow-up {
  
  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;
  font-size: 1.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  text-align: center;
  /* box-shadow: inset 5px 5px 10px 4px rgba(0,0,0,0.1); */
  box-shadow: inset 6px 3.5px 4.5px 1.5px rgba(0,0,0,0.1);
  transition: opacity 300ms ease-in;
}

/* Footer */
.contact {
  background-color: #262626;
  color: var(--color-blue-white);
  padding: 1rem;
  text-align: center;
}

.footer__title {
  font-size: 3rem;
  margin: 1rem 0;
  color: var(--color-blue-white);
}

.footer__text {
  padding: 5px;
  white-space: pre-wrap;
}

.footer__text__copyrights {
  padding: 5px;
  color: #333333;
}