/* Global */

/* my site view 1920*1080 */

:root {
  /* App Colors */
  --color-primary: var(--color-light-blue);
  --color-accent: var(--color-gold-yellow);
  --color-text: var(--color-gray-black);

  /* Color */
  --color-light-white: #eeeeee;
  --color-blue-white: #f2f3f7; /*백그라운드색상*/
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d; /*텍스트 색상*/
  --color-light-grey: #7c7979;
  --color-light-blue: #a7aeca; /*메인색상*/
  --color-gray-black: #333333;
  --color-gold-yellow: #6a77ff; /*강조색상*/

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-semi-thin: 300;
  --weight-thin: 500;

  /* Size */
  --size-border-radius: 5px;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
      font-family: 'Noto Sans JP', sans-serif;
      margin: 0;
      /* background: linear-gradient(#f2f3f7, #7c7979); */
      background-color: var(--color-blue-white);
        /* 배경색을 여기에 원하는 색상 코드로 변경합니다. */
        /* 예: #ff0000은 빨간색을 나타냅니다. */
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

	
/* #MainImage {
  width: 1980px;
  height: 1080px;
  object-fit: cover;
} */

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Common */
.section {
  padding: 50px 4px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--color-gray-black);
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* Header */
.header {
  background-color: var(--color-blue-white);
  position: fixed;
  opacity: 0;
  transition: opacity 1.2s ease-out;
  top: 0;
  width: 100%;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1.4px 8px var(--color-dark-grey); 
  /* 그림자 추가 */
  z-index: 1;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 72px;
  height: 72px;
}

.header__logo__title {
  font-size: 1.3rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 22px;
}

.header:hover {
  opacity: 1;
}

.header__menu__item:hover {
  border-bottom: 1.8px solid var(--color-dark-grey);
}

/* HOME */
#home {
  /* background: linear-gradient(#7c7979, #f2f3f7); */
  background-color: var(--color-blue-white);
  color: var(--color-text);
  /* padding: 0rem 1rem; */
  /* padding-top: 88px; */
  text-align: center;
  position: relative;
}

.home__photo {
  /* 1960px */
  width: 1220px;
  height: 920px;
  padding-top: 4rem;
  object-fit: cover;
  opacity: 0.6;  
  /* 초기 투명도 설정 */
  transition: opacity 6s ease-out; 
  /* 트랜지션 효과 설정 */
  box-shadow: 0px 1.4px 10px var(--color-dark-grey); 
}

.home__photo:hover {
  opacity: 1;
}

.home__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-thin);
  /* text-align: left; */
  padding: 0 0 0.5rem 1.5rem;
  color: var(--color-gray-black);
  text-shadow: 
  -8px -8px 12px rgba(255,255,255,0.4),
  8px 8px 12px rgba(0,0,0,0.08);
  caret-color:#262626;
  white-space: pre-wrap;
  outline: none;
  /* position: relative;
  top: 50%;
  position: absolute; */
}

.home__description {
  font-size: var(--font-medium);
  font-weight: var(--weight-thin);
  white-space: pre-wrap;
  /* text-align: left; */
  padding: 0 0 0 1.5rem;
}

.home__contact {
  display: inline-block;
  border-radius: 4px;
  box-shadow:  
  9px 9px 29px #cfd2d7,
  -9px -9px 29px #fdffff;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--color-dark-grey);
  outline: 2px solid var(--color-gold-yellow);
}

/* KAWAGUCHI */
#kawaguchi {
  /* background: linear-gradient(#f2f3f7, #7c7979); */
  padding: 50px 0px;
}
.kawa__item {
  display: flex;
  flex-direction: column;
  /* 이미지와 텍스트를 세로로 배치 */
  align-items: center;
  text-align: center;
  /* 텍스트 정렬 */
  margin-bottom: 20px;
}

.kawa__title {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--color-gray-black);
}

.kawa__photo {
  width: 500px;
  height: 500px;
  padding: 0rem 2.5rem 0rem 2.5rem;
  object-fit: cover;
  display: flex;
  align-items: baseline;
  margin-right: 10px;
}

.kawa__photo__main {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 6s ease-out; 
}

.kawa__photo__main:hover {
  opacity: 0.6;  
  /* 초기 투명도 설정 */
  transition: opacity 6s ease-out; 
}

.kawa__photo__1 {
  display: block;
  width: 500px;
  height: 500px;
  padding: 0rem 2.5rem 0rem 2.5rem;
  object-fit: cover;
  align-items: baseline;
  margin-right: 10px;
}

/* .kawa__photo__1__text {
  float: left;
} */

/* Arrow UP */
.arrow-up {
  
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: inset 5px 5px 10px 4px rgba(0,0,0,0.1);
}

/* Footer */
.contact {
  background-color: #262626;
  color: var(--color-blue-white);
  padding: 1rem;
  text-align: center;
}

.footer__title {
  font-size: 3rem;
  margin: 1rem 0;
  color: var(--color-blue-white);
}

.footer__text {
  padding: 5px;
  white-space: pre-wrap;
}

.footer__text__copyrights {
  padding: 5px;
  color: #333333;
}